.root {
    display: flex;
    justify-content: center;
    background-color: #330011;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.my-layout {
    width: 1350px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-left-side {
    display: flex;
    align-items: center;
}
.header-texts {
    display: block;
    margin: 30px;
}
.my-name {
    font-size: 35px;
    color: #ede9d7;
    font-weight: 700;
}
.my-work {
    font-size: 25px;
    color: #ede9d7;
    margin-top: -20px;
    font-weight: 500;
}
.social-networks {
    margin-top: -5px;
}
.header-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}


.boxes {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.card-title {
    font-weight: 700;
    color: #330011;
}
.card-paragraph {
    font-weight: 500;
}
.card-bolds {
    color: #330011;
}
.left-side {
    grid-column: 1;
}
.right-side {
    grid-column: 2;
}

.footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: #ede9d7;
}

@media only screen and (max-width: 1050px) {
    .boxes {
        display: block;
    }
    .header {
        display: block;
    }
    .header-left-side {
        display: block;
        text-align: center;
    }
    .header-texts {
        margin: 10px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .root {
        padding: 0px;
    }
}
